push constant 100
push constant 1
call Mod.mod 5
pop static 0

label END
goto END

function Mod.mod 2

push constant 0
pop local 0
push argument 0
pop local 1

label LOOP 
push local 1 
push argument 1
lt
if-goto ENDMOD

push local 0
push constant 1 
add
pop local 0
push local 1
push argument 1
sub
pop local 1
goto LOOP

label ENDMOD
push local 1
return